{
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
